PORT=8080
CORS_ORIGIN=http://localhost:3000
<% if (useJWT) { -%>
JWT_SECRET=your_super_secret_key_here
<% } -%>
<% if (useDB) { -%>
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=your_database_name
DB_PORT=3306
<% } -%>